OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_MODEL=pentest-ai
DATABASE_URL="postgresql://postgres@localhost:5432/ta_odiq"
## docker run --name prisma-postgres -e POSTGRES_USER=postgres -e POSTGRES_DB=ta_odiq -e POSTGRES_HOST_AUTH_METHOD=trust -p 5432:5432 -d postgres:latest
JWT_SECRET="your-strong-secret-key-here"
NEXTAUTH_SECRET=your_secure_secret_here
NEXTAUTH_URL=http://localhost:3000
# Jangan biarkan ini undefined atau error
STUDIO_EMBED_BUILD=false
GEMINI_API_KEY=AIzaSyDZ8hC_E8q-s4NwKGzNCsjMMMZlzhmmVuE
GEMINI_MODEL=gemini-2.0-flash 
KALI-TOOLS= http://kali-tools:5000